@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url(https://www.pexels.com/photo/woman-wears-yellow-hard-hat-holding-vehicle-part-1108101/);  
}